
<div class="main">
    <div class="description">
        <h1>Calculadora</h1>
        <p>
            Calculadora simples que foi implementada usando o framework Angular. 
            Esse é um projeto para a disciplina de Programação para Internet e nele usei conceitos de:
            
        </p>
        <li>flexbox</li>
        <li>Introdução a Orientação a Objetos</li>
        <Li>Typescript, CSS e HTML</Li>
    </div> 
    <div class="calculation">
        <app-calc></app-calc>
    </div>
</div>
