

.forms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: max-content;
    
}

.operacoes{

    align-self: center;

}
.input{
    display: block;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 35px;
    border-color: #bed4c1;
    box-shadow: none;
    border-radius: 10px;
    
}

#resultado{
    background-color:#bed4c1;
    border-color: aliceblue;
    color: black;
    font-size: small;
    box-sizing: content-box;
    align-self: center;
}
.button{
    background-color: #689c70;
    border-color: #689c70;
    width: 4em;
    height: 2em;
    border-radius: 20%;
    color: #f0f8ff;
    font-size:medium ;

}

.button:hover{
    background-color: #37603d;
    color: #f0f8ff;
    cursor: pointer;
}